<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport
      mode="side"
      opened="false" class="mat-elevation-z10">
    <mat-toolbar style="background-color: #e8e8e8;" >
        Coucou !
    </mat-toolbar>

    <mat-nav-list>


      <h2 matSubheader> Bisous </h2>

<!--workaround to automatic selection of the first item of the nav-list-->
      <a mat-list-item routerLink="/" style="height: 0;"></a>

      <a mat-list-item routerLink="/tour">
        <mat-icon matListIcon> android </mat-icon>
         Tour of Heroes
      </a>

      <a mat-list-item routerLink="/upload">
        <mat-icon matListIcon> local_fire_department </mat-icon>
         Upload to Firebase</a>

      <mat-divider></mat-divider>

      <h2 matSubheader> Homoto </h2>

      <a mat-list-item routerLink="/taradio">
        <mat-icon matListIcon> radio </mat-icon>
         Ta radio</a>

      <a mat-list-item routerLink="/testgrid">
        <mat-icon matListIcon> view_quilt </mat-icon>
         Grid test</a>

      <a mat-list-item routerLink="/dashtest">
        <mat-icon matListIcon> dashboard </mat-icon>
         Dashboard test</a>

      <a mat-list-item routerLink="/dialogtest">
        <mat-icon matListIcon> feedback </mat-icon>
         Dialog test</a>

    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary" class="mat-elevation-z10">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        >
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span>my-app</span>
    </mat-toolbar>


    <!-- Add Content Here -->

    <router-outlet></router-outlet>

  </mat-sidenav-content>
</mat-sidenav-container>
